.paginationList {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.pageItem {
  margin-right: 16px;
}

.prevArr {
  margin-right: 10px;
  transform: rotate(-90deg);
}

.nextArr {
  transform: rotate(90deg);
}

.active {
  font-weight: 700;
}

@media screen and (max-width: 768px) {
  .paginationList {
    font-size: small;
  }
}

@media screen and (max-width: 480px) {
  .paginationList {
    justify-content: center;
    font-size: xx-small;
  }
}
