.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0;
}

.logo img {
  max-width: 100%;
  height: auto;
}

.right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.username,
.search,
.favorites {
  margin-right: 30px;
  position: relative;
  transition: all 0.3s ease;
}

.search:hover {
  scale: 1.2;
}

.dropdown {
  position: absolute;
  text-align: center;
  top: 100%;
  width: 150px;
  background: var(--white-color);
  border: 1px solid var(--black-color);
  border-radius: 4px;
  padding: 10px;
  z-index: 10;
  display: none;
}

.username:hover .dropdown {
  display: block;
}

.dropdownLink {
  transition: all 0.3s ease;
}

.dropdownLink:hover {
  color: var(--pink-color);
}

@media (max-width: 768px) {
  .logo {
    margin-bottom: 10px;
  }

  .right {
    width: 100%;
    justify-content: flex-end;
  }

  .search img {
    width: 16px;
  }

  .favorites {
    width: 30px;
  }
}

@media (max-width: 480px) {
  .header {
    flex-direction: column;
  }

  .right {
    width: 100%;
    justify-content: space-between;
  }
}
