.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3vw;
  height: 4vw;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.right {
  width: 100%;
  display: flex;
  justify-content: end;
}

.search {
  background-color: #d4d4d4;
  margin-right: 10px;
}

.button {
  max-width: 240px;
  min-width: 20%;
}

.user {
  display: flex;
  align-items: center;
}

.username {
  margin-right: 10px;
}
