.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 1.3vw;
  height: 4vw;
  background-color: #ffffff;
  margin-bottom: 30px;
}

.right {
  width: fit-content;
  display: flex;
  justify-content: space-between;
}

.userBtns {
  display: flex;
  align-items: center;
}

.username,
.search,
.favorites {
  margin-right: 30px;
}
