body {
  background-color: #d9f3fe;
}

.container {
  margin: 0 auto;
  margin-top: 250px;
  padding: 70px 50px;
  width: 600px;
  text-align: center;
  background-color: #b8dff1;
  border-radius: 50px;
}

h1 {
  margin: 0;
  color: rgb(0, 2, 54);
  font-size: 96px;
  text-transform: uppercase;
}

.count {
  margin: 0;
  font-size: 96px;
  color: #08246e;
  margin-bottom: 10px;
}

.btns {
  display: flex;
  justify-content: center;
}

.btn {
  width: 100px;
  height: 70px;
  padding: 10px 20px;
  font-size: 36px;
  color: #fff;
  background-color: #559deb;
  border: none;
  border-radius: 4px;
  margin: 0;
  cursor: pointer;
}

.btn:not(:last-child) {
  margin-right: 30px;
}

.btn:hover {
  background-color: #2583e8;
}